<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating </dt>
          <dd><%= @product.average_rating %> </dd>
        </dl>
      </div>

      <div class="col-sm-8 review-container">
        <div class="review-input">
          <% if @user_reviewed %>
            <%= "You have already commented" %>
           <% else %>
            <%= form_for [@product, @review] do |f| %>
              <p> <%= f.label :rating %> </p>
              <p> <%= f.select :rating, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]  %> </p>
              <p> <%= f.label :description %> </p>
              <p> <%= f.text_area :description %> </p>
              <p class="submit__button"> <%= f.submit "Submit Review" %> </p>
              <% end %>
          <% end %>
        </div>
        <p class="comments__header">Comments: </p>
        <ul class="review-list">
          <% @product.reviews.reverse.each do |review| %>
            <% @review = review %>
            <% @user = review.user %>
            <%= render partial: "review", locals: {review: @review, user: @user } %>
          <% end %>
        </ul>
      </div>
    </div>

  </article>

</section>
